# calculadora saludable
# ingresar datos

print("***CALCULADORA SALUDABLE***\n\n")
nombre = input("introduce tu nombre: ")
print("Hola: " + nombre)

# pedimos datos

peso = float(input("cuantos kilogramos pesas:  "))
altura = int(input("cuentos centimetros mides:  "))
edad = int(input("que edad tienes: "))

genero = (input("eres 'hombre' o 'mujer' :  "))
M = 'hombre'
W = 'mujer'

# Calculando el IBW


def calcular_IBW(altura, genero):
    if genero == M:
        IBW_hombre = 56.2 + 1.41 * altura / (2.54 - 60)
        return IBW_hombre
    if genero == W:
        IBW_mujer = 53.1 + 1.36 * altura / (2.54 - 60)
        return IBW_mujer


IBW = calcular_IBW(altura, genero)
print("EL IBW es: ", IBW)


# calculando porcentage de grasa corporal
def calcular_grasa_corporal(peso, altura):
    if genero == M:
        imc = peso / (altura * altura)
        IMC_hombre = 1.20 * imc + 0.23 * edad - 16.2
        return IMC_hombre
    if genero == W:
        imc = peso / (altura * altura)
        IMC_mujer = 1.20 * imc + 0.23 * edad - 5.4
        return IMC_mujer


IMC = calcular_grasa_corporal(peso, altura)
print("el procentaje de grasa es", IMC)

#calcular indice metabolico basal


def calcular_indice_metabolico(peso, edad, altura):
    if genero == M:
        TMB_hombre = (13.397 * peso) + (4.799 * edad) - (5.677 *
                                                         altura) + 88.362
        return TMB_hombre
    if genero == W:
        TMB_mujer = (9.247 * peso) * (3.098 * edad) - (4.330 *
                                                       altura) + 447.593
        return TMB_mujer


TMB = calcular_indice_metabolico(peso, edad, altura)
print("su indice metabolico basal es ", TMB)

# calcular quema calorias segun actividad que realice

print(" *** MENU PRINCIPAL *** ")
print("Por favor digita el numero de actividad que mas realizas")


opcion = int(input("ingrese una opcion (1 = caminas,2 = juegas_tenis,3 = montas_bici,4 = corres,5 = nadas): "))
tiempo = int(input("cuantos minutos de actividad realizo:"))



def caminas (tiempo , peso):
    caminas = (tiempo * 5 * peso/200)
    return caminas

if opcion == 1:
       caminas = caminas(tiempo, peso)
       print("las calorias que quema al caminar son:", caminas)


def juegas_tenis(tiempo, peso):
      juegas_tenis = (tiempo * 5 * peso/200)
      return juegas_tenis

if opcion == 2:
      juegas_tenis = juegas_tenis(tiempo, peso)
      print("las calorias que quema al jugar tennis son:",juegas_tenis)


def montas_bici(tiempo, peso):
      montas_bici = (tiempo * 14 * peso / 200)
      return montas_bici


if opcion == 3:
      montas_bici = montas_bici(tiempo, peso)
      print("las calorias que quema al montar bici son:", montas_bici)


def corres(tiempo, peso):
      corres = (tiempo * 6 * peso / 200)
      return corres


if opcion == 4:
      corres = corres(tiempo, peso)
      print("las calorias que quema al correr son:", corres)


def nadas(tiempo, peso):
      nadas = (tiempo * 2 * peso / 200)
      return nadas


if opcion == "5":
      nadas = nadas(tiempo, peso)
      print("las calorias que quema al nadar son:", nadas)

print("muchas_gracias")
